{{- if .UI.HasTailwind -}}
@tailwind base;
@tailwind components;
@tailwind utilities;
{{- else -}}
h1 {
  color: red;
  text-align: center;
}

.container {
  max-width: 48rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
}
{{- end }}
