package main

import (
	"log"

	"{{ .ModPath }}/api"
	"{{ .ModPath }}/config"
)

func main() {
	// Loading the env vars from either a `.env` file or runtime.
	env := config.MustloadEnv()

	// API Server
	server := api.NewAPIServer(*env)
	log.Fatal(server.Start())
}