{
  "devDependencies": {
    "esbuild": "^0.24.0"{{ if .Extras.HasHTMX }},
    "htmx.org": "^1.9.12"{{ end }},
    "livereload": "^0.9.3"{{ if .UI.HasPreline }},
    "preline": "^2.6.0"{{ end }}{{ if .UI.HasTailwind }},
    "esbuild-plugin-tailwindcss": "^1.2.1",
    "@tailwindcss/forms": "^0.5.9",
    "@tailwindcss/typography": "^0.5.15",
    "tailwindcss": "^3.4.16"{{ end }}
  }
}
