# This project was bootstraped with GoSpur CLI
- [GoSpur Docs](https://github.com/nilotpaul/gospur#docs)

# Development
To Start the server:
```
make dev
```

## Auto Browser Reload
You can increase or decrease its latency (default 400ms).

Makefile:
```Makefile
wgo -dir=node_modules npx livereload -w 400 public
```

# Styling
{{- if .UI.HasTailwind }}
- With Tailwind no extra configuration is needed, start adding classes in any html file, it'll just work.
{{- end }}
- You can use plain CSS{{ if .UI.HasTailwind }} (even with Tailwind){{ end }}, again, it'll just work.
{{- if .UI.HasTailwind }}
- For CSS Modules please check this [guide](https://github.com/ttempaa/esbuild-plugin-tailwindcss#css-modules).
{{- end }}

# Deployment
- You only need to run the compiled binary in the `bin` folder. All of your assets will be embedded into it as well.
- Make sure to set `ENVIRONMENT=PRODUCTION` or just run `make` to start the production server.

# Docs
{{- if .Web.IsEcho }}
- [Echo](https://echo.labstack.com)
{{- end }}
{{- if .Web.IsFiber }}
- [Fiber](https://docs.gofiber.io)
{{- end }}
- [Esbuild](https://esbuild.github.io)
{{- if .UI.HasTailwind }}
- [TailwindCSS](https://tailwindcss.com)
{{- end }}