{{- if .Render.IsTemplates -}}
package api

import (
	"net/http"
)

func handleGetHome(w http.ResponseWriter, r *http.Request) {
	templates.Render(w, http.StatusOK, "Home.html", map[string]any{
		"Title": "GoSpur Stack",
		"Desc":  "Best for building Full-Stack Applications with minimal JavaScript",
	}, "Root.html")
}
{{- else if .Render.IsSeperate -}}
package api

import (
	"net/http"
)

func handleGetHealth(w http.ResponseWriter, r *http.Request) {
	w.WriteHeader(http.StatusOK)
	w.Write([]byte("OK"))
}
{{- end -}}