{{ define "Home" }}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Tailwind Styles -->
    <link rel="stylesheet" href="public/styles.css" />
    <!-- For live reloading -->
    {{ if not .IsProd }}
    <script src="http://localhost:35729/livereload.js"></script>
    {{ end }}
    <!-- Bundled Javascript -->
    <script defer src="public/bundle/preline/preline.js"></script>
    <script defer src="public/bundle/htmx.org/dist/htmx.js"></script>

    <title>{{ index . "Title" }}</title>
  </head>
  <body
    class="max-w-full min-h-screen bg-gray-300 dark:text-slate-200 text-black dark:bg-gray-950"
  >
    <!-- Container (MAX-WIDTH -> 48rem) -->
    <main class="max-w-3xl mx-auto">
      <div class="flex items-center mt-4 flex-col justify-center">
        <h1 class="text-4xl my-6 text-blue-600 font-bold">
          {{ index . "Title" }}
        </h1>
        <p class="text-lg font-medium">{{ index . "Desc" }}</p>
      </div>

      <div class="flex items-center mt-8 justify-center gap-4">
        <button
          type="button"
          class="hs-dark-mode hs-dark-mode-active:hidden inline-flex items-center gap-x-2 py-2 px-3 bg-black/80 rounded-full text-sm text-white hover:bg-black/70 focus:outline-none focus:bg-black/70"
          data-hs-theme-click-value="dark"
        >
          <svg
            class="shrink-0 size-4"
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
          >
            <path d="M12 3a6 6 0 0 0 9 9 9 9 0 1 1-9-9Z"></path>
          </svg>
          Dark
        </button>
        <button
          type="button"
          class="hs-dark-mode hs-dark-mode-active:inline-flex hidden items-center gap-x-2 py-2 px-3 bg-white/10 rounded-full text-sm text-white hover:bg-white/20 focus:outline-none focus:bg-white/20"
          data-hs-theme-click-value="light"
        >
          <svg
            class="shrink-0 size-4"
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
          >
            <circle cx="12" cy="12" r="4"></circle>
            <path d="M12 2v2"></path>
            <path d="M12 20v2"></path>
            <path d="m4.93 4.93 1.41 1.41"></path>
            <path d="m17.66 17.66 1.41 1.41"></path>
            <path d="M2 12h2"></path>
            <path d="M20 12h2"></path>
            <path d="m6.34 17.66-1.41 1.41"></path>
            <path d="m19.07 4.93-1.41 1.41"></path>
          </svg>
          Light
        </button>
      </div>
    </main>
  </body>
</html>
{{ end }}
